
.container-fluid{
    background-image: url(assets/REVIEWS_BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 578px;
}


.carre{
    background-color: brown;
}